@using AntDesign.Internal
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Logging
@inject ILogger<ExposeFormEditContext> _logger
@namespace AntDesign
<span data-context-id="@EditContext.GetHashCode()"></span>

@code {
    protected EditContext EditContext { get; set; }

    [CascadingParameter(Name = "Form")]
    protected IForm Form { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        parameters.SetParameterProperties(this);

        if (EditContext == null)
        {
            if (Form?.EditContext == null)
            {
                return base.SetParametersAsync(ParameterView.Empty);
            }

            EditContext = Form?.EditContext;
            _logger.LogDebug("New EditContext: {HashCode}", EditContext.GetHashCode());
        }
        else if (Form?.EditContext != EditContext)
        {
            _logger.LogDebug("New EditContext: {NewHashCode}. Old EditContext: {OldHashCode}", Form?.EditContext?.GetHashCode(), EditContext.GetHashCode());
        }

        return base.SetParametersAsync(ParameterView.Empty);
    }

}